<footer class="container">
  <div class="row">
    <div class="col-md">
      <p>{{site.description}}</p>
    </div>
    <div class="col-md">
      One of thown columns
    </div>
    <div class="col-md">
      One of three columns
    </div>
  </div>  
</footer>