{% extends "twig/base.twig" %}

{% block content %}
  <h1>Essa é a front Page</h1>
  <ul>
    {% for post in posts %}
      <li>
        <a href="{{ post.link }}">
          {{ post.title }}
        </a>
      </li>
    {% else %}
      <li>Desculpe, nenhum post bate com este critério</li>
    {% endfor %}
  </ul>
{% endblock %}
